.FAB {
  position: fixed;
  bottom: 30px;
  right: 60px;
  width: 56px;
  z-index: 4;

  &__action-button {
    bottom: 0;
    right: 0;
    cursor: pointer;
    position: absolute;
    > .btn-link:hover{
      background-color: transparent;
    }

    &:hover {
      .action-button__icon {
        box-shadow:0 0 8px rgba(0,0,0,.14),0 8px 16px rgba(0,0,0,.28)
      }
    }
  }
}

.action-button {
  &__icon{
    box-shadow:0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    background-color: cornflowerblue;
    border-radius: 50%;
    color: #fff;
    padding: 22px;
  }

  &__text {

    &--hide {
      display: none;
    }

    &--show {
      background-color: #212121;
      border-radius: 3px;
      color: #fff;
      right: 75px;
      font-size: 14px;
      font-family: "Helvetica Neue";
      opacity: .8;
      padding: 5px 9px;
      position: absolute;
      top: 2px;
      white-space: nowrap;
    }
  }
}


