.rtl
  direction: rtl
.rtl-right
  direction: rtl
  text-align: right

.rtl-body
  direction: rtl
  *
    direction: rtl
.rtl-right-body
  direction: rtl
  text-align: right
  *
    direction: rtl
    text-align: right