
$font-One    : 'Roboto Slab', serif;

$font-Two    : 'Lato', sans-serif;


$theme-color      : #fcb134;
$theme-second     :  $theme-color;
$theme-third      : lighten($theme-second, 10%);


$link-color       : #3da2b4;
$link-subcolor    : #003777;


$white            : #FFFFFF;
$black            : #000000;
$dark-gray        : #7F7F7F;
$light-gray       : #C0C0C0;
$green            : #5CB85C;
$light-blue       : #5BC0DE;
$red              : #D9534F;
$yellow           : #F0AD4E;
$blue             : #0000FF;







