* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

[data-bg]{
  background: {
    position: center;
    repeat: no-repeat;
    size: cover;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: -200;
  transition: all 0.3s ease-in-out;
}
.overlay.active{
  opacity: 1;
  z-index: 9;
  transition: opacity 0.3s ease-in-out;
}

.text-body-center{
  text-align: center;
  *{
    text-align: center;
  }
}
.mb-50{
  margin-bottom: 50px;
}