body.ar
  h1, h2, p, a, span, h4, h5, h3
    direction: rtl
    text-align: right
    font-family: 'Droid Arabic Kufi', Roboto, Helvetica, Arial, sans-serif
    font-weight: normal
    font-style: normal
  .text-center
    text-align: center
    direction: rtl
  .text-body
    direction: rtl
    text-align: right
  .text-body-center
    direction: rtl
    text-align: center
    *
      text-align: center

  .rtl
    direction: rtl
  .rtl-right
    direction: rtl
    text-align: right
  .ltr
    direction: ltr
  .ltr-left
    direction: ltr
    text-align: left
  .ltr-body
    direction: ltr
    *
      direction: ltr
  .ltr-body-left
    direction: ltr
    text-align: left
    *
      direction: ltr
      text-align: left
  .email-field > input
    direction: ltr
    text-align: right

  .slider-section
    .tp-caption
      font-family: 'Droid Arabic Kufi', Roboto, Helvetica, Arial, sans-serif
      &.large-text
        font-weight: 100
      &.small-text
        font-weight: 800



  #offcanvas-menu .menu-wrapper li .sub-menu a
    padding-left: 0
    padding-right: 55px
  .header-section .navbar .navbar-collapse .navbar-nav > li
    float: right

  .header-section .navbar .navbar-collapse .navbar-nav > li:last-child
    margin-right: 20px

  .header-section .navbar .navbar-collapse .navbar-nav > li:first-child
    margin-right: 0px

  .tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption
    direction: rtl
    text-align: right

  div.post-body, div.event-body
    direction: rtl
    text-align: right

  .subject-section .subject-carousel .item .subject-wrapper .wrapper-content h3 a, .facil-section .subject-carousel .item .subject-wrapper .wrapper-content h3 a
    float: right

  .course-section .course-right-bar #promote-accordion .panel-default .panel-heading::before,
  .course-section .course-right-bar #promote-accordion .panel-default .panel-collapse::before
    left: 33px

  .course-section .course-right-bar #promote-accordion .panel-default .panel-collapse .panel-body
    direction: rtl
    text-align: right

  .course-section .course-left-bar
    direction: rtl
  .course-section > .container > .row > [class*=col]
    float: right


  .about-us-section .section-container .section-wrapper .content-bar
    margin-right: 85px
    margin-left: 0px
    direction: rtl
    text-align: right
    
  .section-wrapper span.icon
    float: right !important

  .about-us-section .section-container .counting-section .counting-pusher .counting-wrapper
    text-align: center
    p
      text-align: center


  .latest-event-section .event-wrapper
    .event-img
      float: left !important
    .wrapper-container
      float: right
      .date
        float: right !important
      .wrapper-content
        margin-right: 95px
        margin-left: 0 !important
        @media only screen and (max-width: 767px)
          margin-right: 80px
        @media only screen and (max-width: 479px)
          margin-right: 0

        .btn
          float: right
        .small-text
          float: right
        > div.event-info > span
          &:last-child
            margin-right: 10px !important
          &:first-child
            margin-right: 0px !important

  .section-title
    direction: rtl
    h2
      padding-right: 0
      padding-left: 40px
      &:before
        left: 0
        right: initial
    .small-text
      padding-left: 0
      padding-right: 30px

  .blog-section
    ul.post
      direction: rtl
    [class*=col]
      float: right
    .content-bar .link
      float: right
    .blog-middle-bar
      .media-left
        float: right !important
      .media-content
        margin-left: 0
        margin-right: 145px

  .joining-section
    [class*=col]
      float: right
    .wrapper-content
      direction: rtl

  .footer-section
    [class*=col]
      float: right
    .footer-wrapper
      direction: rtl
      .social-icon
        li:last-child
          margin-right: 12px
        li:first-child
          margin-right: 0px


  .header-title
    direction: rtl

  .comment-section .wrapper-content
    direction: rtl
    .quote
      margin-left: 0
      margin-right: -20px
      img
        transform: scaleX(-1)

  .support-form
    direction: rtl
    [class*=col]
      float: right

  .department-section
    [class*=col]
      float: right
    .text-body
  .faculty-section
    direction: rtl
    [class*=col]
      float: right
      @include media('<tablet')
        float: none
    .title h3
      margin: 45px 25px 45px 0px
    .content-wrapper
      margin: 0 50px 0 30px
    .dept-icon
      right: auto
      left: 5%

  .gallery-section .portfolio-items
    direction: rtl
    [class*=col]
      float: right

  ul.pagination
    *
      direction: ltr

  .event-list-section
    .event-img
      float: left
    .wrapper-container
      float: right
      direction: rtl
      .date
        float: right
    .event-wrapper .wrapper-container .wrapper-content
      margin-right: 95px
      margin-left: 0
      @media only screen and (max-width: 767px)
        margin-left: 0px
        margin-right: 80px

      @media only screen and (max-width: 479px)
        margin-left: 0
        margin-right: 0
      .event-info
        direction: rtl
      .btn
        float: right
        .small-text
          float: right
      > div.event-info > span
        &:last-child
          margin-right: 10px !important
        &:first-child
          margin-right: 0px !important

  .event-single-section, .event-list-section
    [class*=col]
      float: right
    .event-left-bar
      span.date
        float: right
      .event-content
        margin-right: 0
        margin-left: 85px
        @media only screen and (max-width: 767px)
          margin-right: 0
          margin-left: 0

        .post
          li
            font-family: 'Droid Arabic Kufi', Roboto, Helvetica, Arial, sans-serif
            i
              margin-right: 0
              margin-left: 5px
          li:last-child
            margin-right: 15px
          li:first-child
            margin-right: 0
          direction: rtl


  .news-section
    [class*=col]
      float: right
    .single-news
      direction: rtl
    .widget-social
      float: left !important
    .news-wrapper
      direction: rtl
  .event-single-section, .event-list-section, .news-section
    .news-right-bar
      margin-left: 0 !important
      margin-right: 30px
      .count
        float: left
        font-weight: 600
        font-family: $font-One
      .widget-tag ul
        direction: rtl
        li
          margin-right: 0
          margin-left: 7px


      .widget-post
        .thumb
          float: right !important
          margin-right: 0
          margin-left: 20px
        .date
          float: right
      .widget-search
        direction: rtl
      .widget-archive
        direction: rtl

  .calendar-section
    .btn
      float: left

  .courses-section
    direction: rtl
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter
      text-align: right
    #courses-table
      th
        text-align: right
      thead .sorting, thead .sorting_asc, thead .sorting_desc, thead .sorting_asc_disabled, thead .sorting_desc_disabled
        background-position: center left

  .form-section
    .section-title h2
      padding-left: 0px





